.container {
    width: 99%;
    margin: auto;
    margin-top: 50px;
}

.photoHolder, .showNextPhoto {
    display: inline-block;
    position: relative;
    width: 200px !important;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
}

.shadow {
	margin: 20px 0;
	padding: 0;
	height: 10px;
	border: none;
	border-top: 1px solid #333;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

.photo {
    width: auto;
    height: 100%;
}

.showNextPhoto {
    transform: translate(-250px,0);
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out; /** Chrome & Safari **/
    -moz-transition: all 1s ease-in-out; /** Firefox **/
    -o-transition: all 1s ease-in-out; /** Opera **/
}

.galleryArrow {
    cursor: pointer;
    margin-top: 5%;
    color: white;
}

.sliderBg {
    display: flex;
}

.showMorePhotos {
    cursor: pointer;
    color: white;
    margin-left: 98.5%;
}

.showMorePhotos:hover, .galleryArrow:hover {
    color: lightblue;
}

.modalContainer {
    max-width: 65% !important;
}

.controlsHolder {
    width: 300px;
    margin: auto;
    height: 60px;
}

.controlsHolder button {
    margin: 10px;
    border: none;
    background-color: transparent;
    font-size: 1.5em;
}

.activePhotoSourceButton {
    border-bottom: 5px solid lightblue !important;
}

.scaledPhotoModalBody {
    padding: 0 !important;
}